@use "../abstracts";

.btn-row {
    text-align: center;

    .btn {
        @include abstracts.button(abstracts.$green, abstracts.$light-text, 70%, 3rem, 2em auto 0, 15rem, center, 1rem, false);
        box-shadow: 0px 0px 4px 0px abstracts.$shadow;

        &:hover {
            background-color: darken(abstracts.$green, 15%);
        }
    }
}

//cta-button
.link-btn {
    display: block;
    @include abstracts.button(abstracts.$red, abstracts.$light-text, 40%, 2rem, 0.8rem auto, 15rem, center, 1rem, false);
    align-content: center;
    text-decoration: none;
}

#filter-btns {
    button {
        @include abstracts.button(abstracts.$red, abstracts.$light-text, 90%, 2.2rem, 0.2rem auto, 13rem, center, 0.8rem, false);
    }

    button.active {
        background-color: darken(abstracts.$red, 25%);
        transform: scale(1.1)
    }
}


@media (min-width: 50rem) {
    #filter-btns button {
        font-size: 1rem;
    }
}