@use "../abstracts";

form {
    margin: 1rem auto 2rem;
    max-width: 85%;
    padding-bottom: 1rem;

    label {
        text-align: left;
    }

    .input-text,
    textarea {
        height: 2rem;
        padding: 1rem;
        margin: 0.5rem auto 1rem;
        border: none;
        width: 100%;
        box-shadow: 0px 0px 5px 0px abstracts.$shadow inset
    }

    #number-checkbox {
        margin: 0.5rem 0.8rem 1rem 0;
    }

    #phone-wrapper {
        display: none;
        margin-bottom: -1rem;
    }

    textarea {
        height: 8rem;
    }
}