@use "../abstracts";

form {
    margin: 1rem auto 2rem;
    max-width: 85%;
    padding-bottom: 1rem;

    label {
        text-align: left;
    }

    .input-text,
    textarea {
        height: 2rem;
        padding: 1rem;
        margin: 0.5rem auto 1rem;
        border: 1px solid abstracts.$shadow;
        width: 100%;
    }

    textarea {
        height: 8rem;
    }
}