/* variables */
/* colors */
$header-color: #232021;
$background-color: #fcfcfc;
$black: #232021;
$white: #fff;
$light-text: #fff;
$shadow: rgba(0, 0, 0, 0.3);

$green: #336746;
$red: #ca352c;

/* fonts */
$font-stack: 'Arial', sans-serif;

/* placeholder */
%hoverLink {
    text-decoration: underline;
}

/* mixins */
//mixin för grid
@mixin grid ($height, $columns: 2) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    height: $height;
}

//mixin för textbox
@mixin textBox($width, $padding, $margin, $box-shadow: 0, $border: 0) {
    width: $width;
    margin: $margin;
    padding: $padding;
    box-shadow: $box-shadow;

    @if $border !=0 {
        border: $border;
    }

    @if $box-shadow !=0 {
        box-shadow: $box-shadow;
    }
}

//mixin för knappar
@mixin button($bg-color, $text-color, $witdth, $height, $margin, $max-w, $textalign, $fontsize, $border: false) {
    @if $border == false {
        background-color: $bg-color;
        color: $text-color;
        border: none;
        border-radius: 10px;

        &:hover {
            background-color: #3367469b;
            color: $black;
            transform: scale(1.05);
        }
    }

    width: $witdth;
    height: $height;
    margin: $margin;
    max-width: $max-w;
    text-align: $textalign;
    font-size: $fontsize;
    cursor: pointer;
}